* {box-sizing: border-box;}

body {
	margin: 0;
}

.section {
	width: 100%;
}

.section.firstSection {
	background: rgba(0, 101, 242, 0.12);
	border-bottom: 1px solid rgba(37, 124, 244, 0.4);
	height: 409px;
}

.container1 {
	margin-top: 30px;
	width: 540px;
	height: 289px;
	left: calc(50% - 540px/2);
	position: absolute;
}

h1 {
	margin-top: 30px;
	font: bold 40px/48px Helvetica Neue,"Open Sans", sans-serif;
	text-align: center;
	letter-spacing: -0.5px;
	margin-bottom: 24px;
}

.text1 {
	font: 18px/28px Helvetica Neue, "Open Sans", sans-serif;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

m1 {
	margin-top: 51px;
	left: 70px;
	position: absolute;
}

m2 {
	margin-top: 40px;
	left: 196px;
	position: absolute;
}

m3 {
	margin-top: 52px;
	left: 274px;
	position: absolute;
}

m4 {
	margin-top: 58px;
	left: 360px;
	position: absolute;
}

.section.secondSection {
	height: 500px;
}

.container2 {
	margin-top: 60px;
	width: 1000px;
	height: 380px;
	left: calc(50% - 1000px/2);
	position: absolute;
}

.container3 {
	margin-top: 40px;
	width: 445px;
	height: 300px;
	left: calc(50% - 445px/2 - 333px);
	position: absolute;
}

h2 {
	margin-top: 0;
	font: bold 56px/60px Helvetica Neue,"Open Sans", sans-serif;
	letter-spacing: -1px;
	margin-bottom: 24px;
}

.text2 {
	margin-top: 0;
	font: 18px/28px Helvetica Neue, "Open Sans", sans-serif;
	margin-bottom: 43px;
}

h4 {
	width: 88px;
	display: flex;
	align-items: center;
	font: 18px/28px Helvetica Neue, "Open Sans", sans-serif;
	color: #0065F2;
	left: calc(50% - 111px/2 - 499.5px);
}

overlay {
	left: 50%;
	width: 555px;
	height: 380px;
	position: absolute;
}

.section.thirdSection {
	height: 802px;
}

.container4 {
	margin-top: 40px;
	width: 1110px;
	height: 588px;
	left: calc(50% - 1110px/2);
	position: absolute;
}

h3 {
	margin-top: 0;
	left: calc(50% - 1110px/2);
	font: bolder 24px/32px Helvetica Neue, "Open Sans", sans-serif;
	letter-spacing: -0.1px;
	margin-bottom: 40px;
}

h5 {
	margin-top: 16px;
	left: calc(50% - 1110px/2);
	font: 18px/28px Helvetica Neue, "Open Sans", sans-serif;
	font-weight: 500;
	margin-bottom: 0;
}

h6 {
	margin-top: 16px;
	left: calc(50% - 1110px/2);
	font: 16px/24px Helvetica Neue, "Open Sans", sans-serif;
	letter-spacing: 0;
	margin-bottom: 0;
}

h7 {
	left: calc(50% - 1110px/2);
	font: 16px/24px Helvetica Neue, "Open Sans", sans-serif;
	letter-spacing: 0;
	color: #0065F2;
}

h8 {
	position: absolute;
	margin-top: 26px;
	left: calc(50% - 1110px/2);
	font: 16px/24px Helvetica Neue, "Open Sans", sans-serif;
	letter-spacing: 0;
	margin-bottom: 0;
}

.text3 {
	margin-top: 172px;
	left: calc(50% - 1110px / 2);
	font: 16px/24px Helvetica Neue, "Open Sans", sans-serif;
	letter-spacing: 0;
	margin-bottom: 0;
}

.text4 {
	margin-top: 8px;
	left: calc(50% - 1110px / 2);
	font: 16px/24px Helvetica Neue, "Open Sans", sans-serif;
	margin-bottom: 0;
}